/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--width-text);
  background: var(--background-imag);
  background-color: var(--background-color);
  color: var(--color-font);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  /* height: 100vh; */
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.header {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--themes-main-color);
  background-color: var(--background-color);
}

/* ------------html----------- */
.header__lable {
  margin-top: clamp(120px, 10vw, 136px);
  font-size: var(--font-size-for-decor);
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* -----------название------------ */
.title {
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: var(--font-size-for-title);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

/* ----------------меню----------- */
.theme-menu {
  min-width: 118px;

  display: flex;
  justify-content: flex-end;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* width: 90px; */
  margin-top: 25px;
  align-items: flex-start;
}

.theme-menu__item {
  margin-bottom: 10px; /*14px*/
  position: relative;
}

.theme-menu__item:last-child {
  margin-bottom: 20px;
}

/* -----------кнопки в меню---------- */
.theme-menu__button {
  background-color: inherit;
  border: none;
  text-transform: uppercase;
  opacity: 1;
  transform-origin: center;
  /* transform: scaleX(0); */
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled,
.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--hover-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

/* .theme-menu__button:hover::after */
.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus,
.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before,
.theme-menu__button:active::before {
  content: "▶";
  color: var(--color-font);
  opacity: 0.6;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  /* margin-right: -6px; */
  display: inline-block;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:active {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

/* --------------карточка-------------- */
.card {
  border: 2px solid var(--themes-main-color);
  background-color: var(--background-color);
  gap: 27px;
  margin-bottom: 50px;
}

.card:last-of-type {
  margin-bottom: 52px;
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: var(--weight-title);
  line-height: normal;
}

/* .d-none {
  display: none;
} */

/* ----------картинка---------- */
.img-block {
  border-top: 2px solid var(--themes-main-color);
  border-bottom: 2px solid var(--themes-main-color);
  position: relative;
}

.img__label {
  text-transform: uppercase;
  font-family: var(--accent-font);
  opacity: 0.5;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: normal;
  color: var(--color-for-text-on-pic);
  text-shadow: 1px var(--pic-text);
  font-size: 14px;
}

@supports (
  (text-stroke: 1px var(--pic-text)) or
    (-webkit-text-stroke: 1px var(--pic-text))
) {
  .img-block::after {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--pic-text);
    text-stroke: 1px var(--pic-text);
    text-shadow: none;
  }
}

.picture {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.picture__contrast {
  filter: contrast(1.7) brightness(1.2) saturate(1.5);
}

.picture__sepia {
  filter: sepia(80%);
}

.picture__hue-rotate {
  filter: hue-rotate(-60deg) saturate(200%) brightness(110%) contrast(0.8);
}

.picture__brightness {
  filter: contrast(0.8) brightness(0.8) grayscale(0.2) sepia(0.2) blur(5px);
}

.picture__grayscale {
  filter: grayscale(100%) invert(100%);
}

.picture__blur {
  filter: blur(25px);
}

.picture__invert {
  filter: invert(100%);
}

.picture__saturate {
  filter: brightness(1.2) contrast(150%) saturate(120%) hue-rotate(45deg)
    blur(2px) opacity(0.8);
}

/* --------------текст в карточке------------ */
.card__box {
  margin: 25px;
}

.card__text {
  margin-bottom: 27px;
  font-size: 18px;
  font-style: normal;
  font-weight: var(--weight-text);
  line-height: 21px;
}

.card__text:last-child {
  margin-bottom: 0;
}

/* -----------иконка в карточке------------- */
.card__footer {
  display: flex;
  justify-content: flex-end;
  margin: 25px;
}

.card__icon-button {
  width: 47px;
  height: 38px;
  border: 2px solid transparent;
  margin-right: 4px;
  background-color: inherit;
  position: relative;
  cursor: pointer;
  padding: 0;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-font);
}

/* -----------кнопка в карточке------------ */
.card__like-button {
  background-color: inherit;
  min-width: 130px;
  padding: 9px 17px;
}

.button {
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  border: 2px solid var(--color-font);
  cursor: pointer;
}

.btn {
  position: relative;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

.btn:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--color-font);
}

.button__text {
  mix-blend-mode: difference;
  position: relative;
  z-index: 10;
  color: var(--color-hover-text);
}

.card__like-button:hover .button__text {
  color: var(--color-hover-text);
  mix-blend-mode: difference;
}

.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background: #000; */
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
  background-color: var(--hover-color);
}

.btn:hover::before {
  transform: scaleX(1);
}

/* ------------сохр на память---------- */
.save__block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-font);
  /* background: var(--background-color); */
  gap: 8px;
  min-width: 335px;
  min-height: 51px;
  margin: 0 auto;
  margin-bottom: 100px;
  font-family: var(--accent-font);
  background-color: var(--background-color);
  font-size: 14px;
}

.button__save {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  background-color: inherit;
  border: none;
  padding: 0;
  color: var(--main-font);
}

.icon-sm {
  width: 21px;
  height: 21px;
  z-index: 3;
  mix-blend-mode: difference;
  fill: var(--color-font);
  color: var(--color-hover-text);
}

/* .button__save:hover .icon-sm  {
    mix-blend-mode: difference;
} */

/* ----------------------- */
.modal {
  max-width: 357px;
  padding: 32px;
  border: 2px solid var(--color-font);
  background-color: var(--pic-text);
  color: var(--main-font);
}

.modal::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.modal__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.modal__button {
  padding: 19px 18px;
  margin-top: 30px;
  width: 100%;
  background: var(--background-color);
  text-transform: uppercase;
  color: var(--color-font);
}

.modal__content {
  display: flex;
  align-items: center;
}

.modal__box .icon-sm {
  margin-right: 20px;
}

.modal__icon {
  width: 39px;
  height: 39px;
}

.modal__box_text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  /* height: 63px; */
  max-width: 234px;
  width: 100%;
  text-align: left;
}

.modal__button:hover .modal__box_text {
  color: #000;
  mix-blend-mode: difference;
}

/* ---------------------------- */

@media (width <= 376px) {
  .img__label {
    top: 25px;
    right: 11px;
  }

  .save__block {
    display: flex;
    flex-direction: column;
    width: 306px;
    min-height: 80px;
  }

  .icon-sm {
    width: 28px;
    height: 28px;
  }

  .modal {
    max-width: 341px;
    padding-top: 40px;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 30px;
  }
}
