/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

/* Стили для светлой темы */
:root.theme-light {
  --accent-font: "Press Start 2P", monospace;
  --main-font: "Inter", sans-serif;
  --weight-text: 400;
  --weight-title: 700;
  --background-color: #fff;
  --color-font: #000;
  --font-size-for-decor: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --font-size-for-title: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --background-imag: repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --themes-main-color: #000;
  --pic-text: #ffffff;
  --contour-color:#000000;
  --main-body: red;
  --hover-color:#ffffff;
}



/* Стили для темной темы */
:root.theme-dark {
  --accent-font: "Press Start 2P", monospace;
  --main-font: "Inter", sans-serif;
  --weight-text: 465;
  --weight-title: 785;
  --background-color: #000;
  --color-font: #00cc14;
  --font-size-for-decor: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --font-size-for-title: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --background-imag: repeating-linear-gradient(
      to bottom,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #007f0c, #004306);
  --themes-main-color: #00cc14;
  --pic-text: #000000;
  --contour-color:#00CC14;
  --main-body: red;
  --hover-color:#00CC14;
}


@media (prefers-color-scheme: dark) {
  :root {
    --accent-font: "Press Start 2P", monospace;
    --main-font: "Inter", sans-serif;
    --weight-text: 465;
    --weight-title: 785;
    --background-color: #000;
    --color-font: #00cc14;
    --font-size-for-decor: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --font-size-for-title: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --background-imag: repeating-linear-gradient(
        to bottom,
        #000,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to right,
        #000,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(to bottom, #007f0c, #004306);
    --themes-main-color: #00cc14;
    --pic-text: #000000;
    --contour-color:#00CC14;
    --main-body: red;
    --hover-color:#00CC14;
  }
}

